<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  
  <%=f.fields_for :posts do |pf|%>
    <hr>
    <%if pf.object.new_record?%>
    <h4>New Post</h4>
    <%else%>
    <h4>Edit Post "<%=pf.object.title%>"</h4>
    <%end%>
    
    <div class="field">
      <%= pf.label :_destroy, "Remove Post" %><br />
      <%= pf.check_box :_destroy %>
    </div>
    <div class="field">
      <%= pf.label :title %><br />
      <%= pf.text_field :title %>
    </div>
    <div class="field">
      <%= pf.label :categories %><br />
      <%= pf.select :category_id, @categories.map{|c| [c.name, c.id]} %>
    </div>
    <div class="field">
      <%= pf.label :content %><br />
      <%= pf.text_area :content %>
    </div>
    <div class="field">
      <%= pf.label :user_id %><br />
      <%= pf.text_field :user_id %>
    </div>
    <h5>Tags</h5>
    <%=pf.fields_for :tags, build_tags(pf.object) do |tf|%>
      <div class="field">
        <%= tf.label :name %><br />
        <%= tf.text_field :name %>
        
        <% unless tf.object.new_record?%>
          <%= tf.check_box :_destroy%>
          Remove?
        <% end %>
      </div>
    <%end%>
  <%end%>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
